:root {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: oklch(76.662% 0.135 153.45);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/********************* GLOBAL***********************/
* {
  font-family: "Inter", sans-serif;
  color: var(--color-base-content);
}

html {
  background-color: var(--color-base-200);
}

.box {
  width: 90%;
  margin: 0 auto;
}

/**********************HEADER************************/
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  /* bottom: solid 1px #ddd; */
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  /* padding-bottom: 5px; */
}

header span {
  font-size: 1.2rem;
  color: var(--color-base-content);
}

/************* HAMBURGER NAVIGATION ***********/

.hamburguer {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburguer.show::before {
  content: "\00D7";
}

/*********** NAVIGATION ********/

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  text-decoration: none;
  border-bottom: solid 1px var(--color-base-content);
}

.navigation li.current {
  background-color: var(--color-primary);
}
.navigation li.current:hover {
  background-color: color-mix(in srgb, var(--color-primary), black 20%);
}

.navigation li.current a {
  color: var(--color-primary-content);
}

.navigation li {
  background-color: var(--color-base-100);
}
.navigation li:hover {
  background-color: var(--color-primary);
}

.navigation li a:hover {
  color: var(--color-primary-content);
}

/******************** HERO ***************/

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1.5rem;
  background-color: var(--color-secondary);
  height: 12rem;
}

.hero .title,
.hero .subtitle {
  color: var(--color-secondary-content);
}

.hero-footer {
  align-self: center;
}

/******* BODY  ************/

.container .header div {
  display: none;
}

/*******************LOCAL COMPANIES SECTION ***************/

#local-companies {
  display: grid;
}

.title-discover {
  text-align: center;
}
/******************* FOOTER ***************/

.footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--color-base-300);
  text-align: center;
  padding: 16px 0;
  margin-top: 50px;
}

.footer p {
  margin: 5px;
  text-align: start;
}

.social {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-base-100);
  border: var(--color-base-300) solid 1px;
  border-radius: var(--radius-box);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-base-200);
}

#lastModified {
  margin: 8px 0 0 0;
}

/************* COMPONENTS ****************/

.pCard,
.bcard {
  margin: 20px auto;
  background-color: var(--color-base-100);
  border-radius: var(--radius-box);
  padding-bottom: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.pCard-title {
  text-align: center;
  background-color: var(--color-base-300);
  margin: 0;
  padding: 8px;
  font-size: 24px;
}

.pCard-body,
.bcard-body {
  padding: 8px;
  padding-bottom: 24px;
  background-color: var(--color-base-100);
}

.card-image {
  max-width: 250px;
  margin: 0 auto;
}

.card-image > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bcard,
.companyCard {
  border-radius: 8px;
}

.bcard-header {
  text-align: center;
  padding: 10px 0;
  background-color: var(--color-accent);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.bcard-title,
.bcard-subtitle {
  margin: 0 0 5px 0;
  color: var(--color-accent-content);
}

.bcard-body {
  display: flex;
  border-top: 1px solid var(--color-secondary);
}

.bcard-body > div {
  margin-left: 15px;
  text-align: start;
}

.bcard-img {
  border-radius: 5px;
}

.button {
  border: inherit;
  background-color: var(--color-primary);
  color: var(--color-primary-content);
  border-radius: 5px;
  padding: 12px 6px;
  cursor: pointer;
}

.button:hover {
  background-color: color-mix(in srgb, var(--color-primary), black 20%);
  font-weight: bold;
  transition: 300ms;
}

.button-secondary {
  background-color: var(--color-secondary);
}

.button-secondary:hover {
  background-color: color-mix(in srgb, var(--color-secondary), black 20%);
  color: var(--color-secondary-content);
}

.companyCard {
  display: grid;
  grid-template-areas:
    "name"
    "image"
    "address"
    "description"
    "button";

  background-color: var(--color-base-100);
  margin: 1rem 3rem;
  padding: 0.5rem 1rem;
}
.companyCard .companyCard-title {
  grid-area: name;
  text-align: center;
}

.companyCard .companyCard-image {
  grid-area: image;
}

.companyCard .companyCard-address {
  grid-area: address;
}

.companyCard .companyCard-description {
  grid-area: description;
}

.companyCard .companyCard-button {
  grid-area: button;
}

.companyCard img {
  width: 100%;
  border-radius: var(--radius-box);
}

.companyCard img:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.companyCard div {
  grid-area: button;
  display: flex;
}

.companyCard .btn {
  margin: 1rem auto;
}

/*********************** FORMS **************************/

.form-container {
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}

.form-control input,
.form-control select,
.form-control textarea {
  background-color: var(--color-base-100);
}

.levels {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.level-card {
  background-color: var(--color-primary);
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid var(--color-secondary);
  text-align: center;
  border-radius: var(--radius-box);
}

.level-card h3 {
  color: var(--color-primary-content);
}

.modal {
  width: 90%;
  background-color: var(--color-base-200);
  border-radius: var(--radius-box);
  border: 2px solid var(--color-base-300);
}

.modal h3 {
  color: var(--color-base-content);
}

::backdrop {
  background-color: rgb(0 0 0 /50%);
}

.modalbox {
  display: flex;
  flex-direction: column;
}

.closeBtn {
  align-self: flex-end;
  background-color: transparent;
  border: transparent;
}

.info-box {
  width: 90%;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
