/********************* GLOBAL***********************/
* {
  font-family: "Inter", sans-serif;
  color: var(--color-base-content);
}

html {
  background-color: var(--color-base-200);
}

.container {
  width: 90%;
  margin: 0 auto;
}

/**********************HEADER************************/
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items: end;
  bottom: solid 1px #ddd;
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
  /* padding-bottom: 5px; */
}

header span {
  font-size: 1.2rem;
  color: var(--color-base-content);
}

/************* HAMBURGER NAVIGATION ***********/

.hamburguer {
  background: none;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
  content: "\2630";
  font-size: 2rem;
}

.hamburguer.show::before {
  content: "\00D7";
}

/*********** NAVIGATION ********/

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.8rem 10px;
  text-decoration: none;
  border-bottom: solid 1px var(--color-base-content);
}

.navigation li.current {
  background-color: var(--color-primary);
}
.navigation li.current:hover {
  background-color: color-mix(in srgb, var(--color-primary), black 20%);
}

.navigation li.current a {
  color: var(--color-primary-content);
}

.navigation li {
  background-color: var(--color-base-100);
}
.navigation li:hover {
  background-color: var(--color-primary);
}

.navigation li a:hover {
  color: var(--color-primary-content);
}

/******************* FOOTER ***************/

.footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--color-base-300);
  text-align: center;
  padding: 16px 0;
}

.footer p {
  margin: 5px;
  text-align: start;
}

.social {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-base-100);
  border: var(--color-base-300) solid 1px;
  border-radius: var(--radius-box);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-base-200);
}

#lastModified {
  margin: 8px 0 0 0;
}

/*************COMPONENTS****************/

.card {
  margin: 20px auto;
  background-color: var(--color-base-100);
  border-radius: var(--radius-box);
  /* padding-bottom: 8px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-title {
  text-align: center;
  background-color: var(--color-base-300);
  margin: 0;
  padding: 8px;
  font-size: 24px;
}

.card-body {
  padding: 8px;
  padding-bottom: 24px;
  background-color: var(--color-base-100);
}

.card-image {
  max-width: 250px;
  margin: 0 auto;
}

.card-image > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}