@import url(small.css);

@media screen and (min-width: 992px) {
  .menu-navbar {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .navbar-item {
    padding: 16px;
  }

  main {
    margin: 0 15rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .info > .card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 100%;
  }

  .bcards {
    display: flex;
  }

  #cards,
  #cards > section,
  #cards > section > img {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  #cards > section {
    margin: 8px;
    padding: 16px;
    background-color: var(--secondary);
    color: var(--text-light);
  }

  .container {
    display: flex;
    
  }

  .form-container {
    margin: 0;
  }

  .levels {
    width: 50%;
  }
}
