@import url(small.css);

@media screen and (min-width: 992px) {
  .menu-navbar {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .navbar-item {
    padding: 16px;
  }

  #cards {
    text-align: center;
  }
  #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  #cards,
  #cards > section,
  #cards > section > img {
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  #cards > section {
    margin: 8px;
    padding: 16px;
    background-color: var(--secondary);
    color: var(--text-light);
  }
}
