@media screen and (min-width: 38rem) {
  header,
  main,
  nav,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  .hamburguer {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .info > .card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 100%;
  }

  .bcards {
    display: flex;
  }

  .bcard {
    margin: 0 1rem 2rem 0;
  }
}
