@media only screen and (min-width: 38rem) {
  /************* HEADER *************/
  .header-brand {
    display: flex;
    align-self: center;
  }

  .header-brand img {
    width: 48px;
  }

  .header-brand span {
    align-self: center;
  }

  .header-navbar {
    margin-right: 20px;
  }

  /************* MAVIGATION **************/

  .hamburguer {
    display: none;
  }

  #nav-bar {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  /************ HERO *****************/

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 4rem auto;
    gap: 20px;
  }

  .hero > :nth-child(2) > img {
    max-width: 512px;
    max-height: 400px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 320px;
  }

  /************* BENEFITS ****************/

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  /************ COMPARISON *****************/
  .comparison-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /************** CTA BANNER ***************/

  .cta-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 5rem;
  }

  .cta-button {
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  /******** TIMELINE **************/

  .timeline {
    display: flex;
  }

  /********* TESTIMONIES **********/

  .testimonies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /***************** PARTNERS *********************/

  .partners {
    display: flex;
  }

  .partner-logo {
    /* max-width: 100%; */
  }
}
