@media only screen and (min-width: 38rem) {
  /************* HEADER *************/
  .header-brand {
    display: flex;
    align-self: center;
  }

  .header-brand img {
    width: 48px;
  }

  .header-brand span {
    align-self: center;
  }

  .header-navbar {
    margin-right: 20px;
  }

  /************ HERO *****************/

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 4rem auto;
    gap: 20px;
  }

  .hero > :nth-child(2) > img {
    max-width: 512px;
    max-height: 400px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 320px;
  }

  /************* BENEFITS ****************/

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  /************ COMPARISON *****************/
  .comparison-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /************** CTA BANNER ***************/

  .cta-banner {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
  }

  .cta-button {
    /* display: flex; */
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  /************* MAVIGATION **************/

  .hamburguer {
    display: none;
  }

  #nav-bar {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }
}
