@media only screen and (min-width: 38rem) {
  header {
    grid-template-columns: 24px auto;
  }

  .hamburguer {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }
}
