@import url(small.css);

@media screen and (min-width: 992px) {
  .menu-navbar {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .navbar-item {
    padding: 16px;
  }

  h1 {
    grid-area: top-area;
  }

  .container > .card:first-child {
    grid-area: left-area;
  }

  .container > .card:nth-of-type(2) {
    grid-area: right-area;
  }

  .container > .card:nth-of-type(3) {
    grid-area: bottom-area;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-areas:
      "top-area top-area top-area"
      "left-area left-area right-area"
      "bottom-area bottom-area bottom-area";
  }

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
}
